/* ████████ ASCII WAYBAR THEME ████████ */
/* ════════════════════════════════════════════════ */

* {
    background: transparent;
    /*color: #d9d9d9;*/
}

#waybar {
    background: transparent;
    /*color: #d9d9d9;*/
}

/* ▓▓▓▓▓▓▓ LEFT MODULES ▓▓▓▓▓▓▓ */
.modules-left {
    background: transparent;
    padding: 0 1px 2px 8px;
}
#workspaces button {
    all: initial;
    padding: 0px 8px;
    margin-top: 0;
    margin-right: 3;
    color: #d8dee9;

    border-bottom-left-radius: 10px;
    font-family: "Doto";
    font-weight: bold;
    font-size: 13px;
    border: 1px solid transparent;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#workspaces button.active {
    border: 1px solid #737373;
    color: #ffffff;

    padding: 0 11px;
    background: linear-gradient(135deg, #333333, #1a1a1a);
}

#workspaces button:hover {
    border: 1px solid #737373;
    background: linear-gradient(135deg, #2a2a2a, #1a1a1a);

    padding: 0 13px;

    box-shadow: 0 0 4px rgba(85, 85, 85, 0.3);
}

/*#workspaces button.visible {
    opacity: 0.5;
}*/

#workspaces button.empty {
    opacity: 0.6;
}
#custom-omarchy {
    margin-top: 1px;
    color: #d9d9d9;
    font-size: 14px;
    margin-right: 3px;
}
/* ▓▓▓▓▓▓▓ CENTER MODULES ▓▓▓▓▓▓▓ */

/*#window {
    background: transparent;
    padding: 0px 12px;
    border: 1px solid #737373;
    background: linear-gradient(135deg, #333333, #1a1a1a);
    margin: 1px 0px;
    border-bottom-left-radius: 12px;

    margin-right: 50px;
    font-family: "Doto";

    font-size: 13px;
    font-weight: 800;
}*/

/* ▓▓▓▓▓▓▓ RIGHT MODULES ▓▓▓▓▓▓▓ */
.modules-right {
    background: transparent;
    font-size: 11px;
    font-family: Doto;
    font-weight: 900;
}
/*#bluetooth {
    background: transparent;
    color: #d9d9d9;
    border: 1px solid #737373;
    background: linear-gradient(135deg, #333333, #1a1a1a);

    padding: 1px 6px;
    margin: 2px 1px;
    font-size: 10px;
}*/
#pulseaudio {
    background: transparent;
    color: #d9d9d9;
    border: 1px solid #737373;
    border-bottom-left-radius: 10px;
    background: linear-gradient(135deg, #333333, #1a1a1a);

    padding: 1px 6px;
    margin: 2px 0px;
}

#memory {
    background: transparent;
    color: #d9d9d9;
    border: 1px solid #737373;
    background: linear-gradient(135deg, #333333, #1a1a1a);

    border-bottom-left-radius: 10px;
    padding: 1px 6px;
    margin: 2px 4px;
}
#cpu {
    background: transparent;
    color: #d9d9d9;
    border: 1px solid #737373;
    border-bottom-left-radius: 10px;
    background: linear-gradient(135deg, #333333, #1a1a1a);

    padding: 1px 5px;
    margin: 2px 4px;
    font-size: 10;
    font-family: "Doto";
    font-weight: 900;
}

/*#temperature {
    background: transparent;
    color: #d9d9d9;
    border: 1px solid #737373;
    border-bottom-left-radius: 10px;
    background: linear-gradient(135deg, #333333, #1a1a1a);

    padding: 1px 6px;
    margin: 2px 2px;
 font-size: 10;    font-family: "Doto";
    font-weight:900;
}*/

#battery {
    background: transparent;
    color: #d9d9d9;
    border: 1px solid #737373;
    background: linear-gradient(135deg, #333333, #1a1a1a);

    border-bottom-left-radius: 10px;
    padding: 1px 6px;
    margin: 2px 4px;
}
/*#power-profiles-daemon {
    background: transparent;
    color: #d9d9d9;
    border: 0.4px solid #d9d9d9;
    border-right: none;
    background: linear-gradient(135deg, #333333, #1a1a1a);

    padding: 1px 6px;
    margin: 2px 0px;
    font-size: 13.5px;
}*/
#network {
    /*background: #1e1e2e;*/
    color: #d9d9d9;
    border: 1px solid #737373;
    border-bottom-left-radius: 10px;
    background: linear-gradient(135deg, #333333, #1a1a1a);

    padding: 1px 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0px;
}

#clock {
    background: transparent;
    color: #d9d9d9;
    border: 1px solid #737373;
    border-bottom-left-radius: 10px;
    background: linear-gradient(135deg, #333333, #1a1a1a);

    padding: 1px 6px;
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 1px;
}
/*#custom-analog-clock {
    background: transparent;
    border: 0.4px solid #d9d9d9;
    font-family: "SimpleAnalogClockFont";
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;
    padding-right: 1px;
    color: #cccccc;
}*/

/* ▓▓▓▓▓▓▓ TOOLTIPS ▓▓▓▓▓▓▓ */
tooltip {
    background: #303030;
    border: 0.4px solid #d9d9d9;
    border-radius: 0;
    color: #d9d9d9;
    font-size: 13px;
    font-family: "Doto";
    font-weight: 900;
}

/*▓▓▓▓▓▓▓ Extras ▓▓▓▓▓▓▓*/

#tray {
    margin-right: 4px;
    padding: 1px 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #737373;
    border-bottom-left-radius: 10px;
}
#custom-expand-icon {
    color: #bfbfbf;
    margin-right: 6px;
    margin-top: -4;
    font-family: Doto;
    font-weight: 900;
    font-size: 18px;
}
#custom-update {
    font-size: 13px;
    margin-right: 13px;
}
#custom-screenrecording-indicator {
    margin: 3px 6 2 8;
    font-size: 10px;
    padding-bottom: 1px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-screenrecording-indicator.active {
    color: #d9d9d9;
    animation-name: blink-recording;
    animation-duration: 0.7s;
}

@keyframes blink-recording {
    to {
        color: rgba(24, 24, 36, 0);
    }
}

#custom-voxtype {
    min-width: 22px;
    font-size: 15px;
}

#custom-voxtype.recording {
    color: #d9d9d9;
}

/* ▓▓▓▓▓▓▓ EMPTY WINDOW STATE ▓▓▓▓▓▓▓ */
window#waybar.empty #window {
    background: transparent;
    border: none;
    color: transparent;
}
