/* ████████ ASCII WAYBAR THEME ████████ */
/* ════════════════════════════════════════════════ */

* {
    background: transparent;
    color: #bfbfbf;
    border: none;
    border-radius: 0;
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 12px;
    font-weight: normal;
}

#waybar {
    background: transparent;
    color: #bfbfbf;
}

/* ▓▓▓▓▓▓▓ LEFT MODULES ▓▓▓▓▓▓▓ */
.modules-left {
    background: transparent;
    padding: 0 8px;
}
#workspaces button {
    all: initial;
    padding: 0 3px;
    margin: 0 1.5px;
    min-width: 9px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#workspaces button:hover {
    /*border-color: #bfbfbf;*/
    color: #bfbfbf;
}

#workspaces button.active {
    opacity: 1;
    border: 1px solid #bfbfbf;
    padding: 0 0px;
    min-width: 10px;
    color: #bfbfbf;
    background: transparent;
}

#workspaces button.occupied:not(.active) {
    opacity: 0.7;

    background: #1e1e2e;
    color: #a6adc8;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#workspaces button:hover {
    border: 1px solid #737373;
    box-shadow: 0 0 4px rgba(85, 85, 85, 0.3);
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.empty {
    opacity: 0.6;
    background: transparent;
    color: #a6adc8;
}
#custom-omarchy {
    margin-right: 10px;
    font-size: 14;
}
/* ▓▓▓▓▓▓▓ CENTER MODULES ▓▓▓▓▓▓▓ */
.modules-center {
    background: transparent;
    padding: 0 8px;
}

#window {
    background: #1e1e2e;
    color: #f9e2af;
    border: 1px solid #f9e2af;
    padding: 2px 12px;
    margin: 2px 4px;
    font-size: 11px;
}

/* ▓▓▓▓▓▓▓ RIGHT MODULES ▓▓▓▓▓▓▓ */
.modules-right {
    background: transparent;
    padding: 0 2px 0 8px;
}
#bluetooth {
    background: transparent;
    color: #bfbfbf;
    border: 1px solid #bfbfbf;
    padding: 1px 6px;
    margin: 2px 1px;
    font-size: 10px;
}
#pulseaudio {
    background: transparent;
    color: #bfbfbf;
    border: 1px solid #bfbfbf;
    padding: 1px 6px;
    margin: 2px 2px;
    font-size: 10px;
}

#memory {
    background: transparent;
    color: #bfbfbf;
    border: 1px solid #bfbfbf;
    padding: 1px 6px;
    margin: 2px 2px;
    font-size: 10px;
}
#cpu {
    background: transparent;
    color: #bfbfbf;
    border: 1px solid #bfbfbf;
    border-left: none;
    padding: 1px 6px;
    margin: 2px 0px;
    font-size: 10px;
}
#temperature {
    background: transparent;
    color: #bfbfbf;
    border: 1px solid #bfbfbf;
    padding: 1px 6px;
    margin: 2px 2px;
    font-size: 10px;
}

#battery {
    background: transparent;
    color: #bfbfbf;
    border: 1px solid #bfbfbf;
    padding: 1px 6px;
    margin: 2px 0px;
    font-size: 10px;
}
#power-profiles-daemon {
    background: transparent;
    color: #bfbfbf;
    border: 1px solid #bfbfbf;
    border-right: none;

    padding: 1px 6px;
    margin: 2px 0px;
    font-size: 13.5px;
}
#network {
    /*background: #1e1e2e;*/
    background: transparent;
    color: #bfbfbf;
    border: 1px solid #bfbfbf;
    padding: 1px 6px;
    margin: 2px 0px;
    font-size: 10px;
}

/* ▓▓▓▓▓▓▓ TOOLTIPS ▓▓▓▓▓▓▓ */
tooltip {
    background: #1a1a1a;
    border: 0.5px solid #bfbfbf;
    border-radius: 0;
    color: #bfbfbf;
    font-family: "CaskaydiaMono Nerd Font";
}

/*▓▓▓▓▓▓▓ Extras ▓▓▓▓▓▓▓*/
#clock {
    /*background: #1e1e2e;*/
    background: transparent;
    border: 1px solid #bfbfbf;
    border-left: none;
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 11.5px;
    padding: 1px 6px;
    margin: 2px 0px 2px 0;
    color: #bfbfbf;
}
#custom-analog-clock {
    /*background: #1e1e2e;*/
    background: transparent;
    border: 1px solid #bfbfbf;
    border-right: none;
    font-family: "SimpleAnalogClockFont";
    font-size: 14px;
    font-weight: bolder;
    padding: 1px 3px 1px 4px;
    margin: 2px -2px 2px 3px;
    color: #bfbfbf;
}

#tray {
    margin-right: 16px;
}
#custom-expand-icon {
    margin-right: 9px;
}
#custom-update {
    font-size: 13px;
    margin-right: 13px;
}
#custom-screenrecording-indicator {
    min-width: 12px;
    margin-right: 10px;
    font-size: 11px;
    padding-bottom: 1px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-screenrecording-indicator.active {
    color: #bfbfbf;
    animation-name: blink-recording;
    animation-duration: 0.7s;
}

@keyframes blink-recording {
    to {
        color: rgba(24, 24, 36, 0);
    }
}

#custom-voxtype {
    min-width: 22px;
    font-size: 15px;
}

#custom-voxtype.recording {
    color: #bfbfbf;
}

/* ▓▓▓▓▓▓▓ EMPTY WINDOW STATE ▓▓▓▓▓▓▓ */
window#waybar.empty #window {
    background: transparent;
    border: none;
    color: transparent;
}
